
.profile-picture{
    height: 50px;
    width: 300px;
    margin-left: 300px;
    margin-top: 70px;
}

#button{
    margin-top: 10px;
    margin-left: 50px;
    background-color: #1A2930;
    border-color: #1A2930;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.table{
    margin-left: 100px;
    margin-top: 30px;
}
.bio{
    margin-left: 310px;
}
.nav-link{
    margin-top: 20px;
    margin-left: 90px;
}
